<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>board</display-name>
  <welcome-file-list>
    <welcome-file>login/login.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>noticeSevlet</display-name>
    <servlet-name>noticeSevlet</servlet-name>
    <servlet-class>kr.or.ddit.board.web.noticeSevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>noticeSevlet</servlet-name>
    <url-pattern>/noticeSevlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>createNoticeSevlet</display-name>
    <servlet-name>createNoticeSevlet</servlet-name>
    <servlet-class>kr.or.ddit.board.web.createNoticeSevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createNoticeSevlet</servlet-name>
    <url-pattern>/createNoticeSevlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateNoticeSevlet</display-name>
    <servlet-name>UpdateNoticeSevlet</servlet-name>
    <servlet-class>kr.or.ddit.board.web.UpdateNoticeSevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateNoticeSevlet</servlet-name>
    <url-pattern>/UpdateNoticeSevlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>postsDetailSevlet</display-name>
    <servlet-name>postsDetailSevlet</servlet-name>
    <servlet-class>kr.or.ddit.board.web.postsDetailSevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>postsDetailSevlet</servlet-name>
    <url-pattern>/postsDetailSevlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>writeSevlet</display-name>
    <servlet-name>writeSevlet</servlet-name>
    <servlet-class>kr.or.ddit.board.web.writeSevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>writeSevlet</servlet-name>
    <url-pattern>/writeSevlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePostsSevlet</display-name>
    <servlet-name>UpdatePostsSevlet</servlet-name>
    <servlet-class>kr.or.ddit.board.web.UpdatePostsSevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePostsSevlet</servlet-name>
    <url-pattern>/UpdatePostsSevlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletePosts</display-name>
    <servlet-name>deletePosts</servlet-name>
    <servlet-class>kr.or.ddit.board.web.deletePosts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletePosts</servlet-name>
    <url-pattern>/deletePosts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>commentSevlet</display-name>
    <servlet-name>commentSevlet</servlet-name>
    <servlet-class>kr.or.ddit.board.web.commentSevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>commentSevlet</servlet-name>
    <url-pattern>/commentSevlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCommentSevlet</display-name>
    <servlet-name>UpdateCommentSevlet</servlet-name>
    <servlet-class>kr.or.ddit.board.web.UpdateCommentSevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCommentSevlet</servlet-name>
    <url-pattern>/UpdateCommentSevlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReplySevlet</display-name>
    <servlet-name>ReplySevlet</servlet-name>
    <servlet-class>kr.or.ddit.board.web.ReplySevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReplySevlet</servlet-name>
    <url-pattern>/ReplySevlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateReplySevlet</display-name>
    <servlet-name>UpdateReplySevlet</servlet-name>
    <servlet-class>kr.or.ddit.board.web.UpdateReplySevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateReplySevlet</servlet-name>
    <url-pattern>/UpdateReplySevlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteReplySevlet</display-name>
    <servlet-name>DeleteReplySevlet</servlet-name>
    <servlet-class>kr.or.ddit.board.web.DeleteReplySevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteReplySevlet</servlet-name>
    <url-pattern>/DeleteReplySevlet</url-pattern>
  </servlet-mapping>
</web-app>